.total-event {
    font-family: var(--mono);
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary);
    margin-top: 25px;
}

.button-event {
    width: max-content;
    font-family: var(--poppins);
    font-size: 0.7rem;
    padding: 3px 10px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: var(--primary);
    color: var(--yellow);
}

.line-event {
    width: 50%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 5px;
}